body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #eecbe3, #efc4e2);
  padding: 40px;
  color: #333;
}

h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #3a0202;
  margin-top: 2%;
  margin-left: 36%;
}

input[id="text"] {
  padding: 10px 14px;
  width: 250px;
  border: 2px solid #fcfbfc;
  border-radius: 6px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  background-color: rgb(252, 245, 248);
  box-shadow: #ababab 0px 2px 2px;
  margin-left: 34%;
  margin-top: 2%;
}

input:focus {
  border-color: #f7f5f6;
  outline: none;
}

input[id="button"] {
  padding: 10px 16px;
  background-color: #f9f7f9;
  color: rgb(11, 11, 11);
  border: none;
  box-shadow: #aba9a9 0px 2px 2px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

input[id="button"]:hover {
  background-color: #f78fb7;
}

ul {
  margin-top: 30px;
  padding-left: 20px;
  list-style-type: none;
  width: 60%;
}

li {
  background-color: #ecf0f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(45, 45, 45, 0.1);
  transition: transform 0.2s ease;
}

li:hover {
  transform: scale(1.02);
}

.btnedit{
  background-color: rgba(108, 206, 10, 0.689);
  border-radius: 6px;
  border: none;
  color: white;
  box-shadow: #7d7d7d 0px 1px 1px;
  margin-left: 60%;
  height: 25px;
  width: 60px; ;
}

.btnhapus{
  background-color: rgba(246, 17, 17, 0.689);
  border-radius: 6px;
  border: none;
  color: white;
  box-shadow: #7d7d7d 0px 1px 1px;
  height: 25px;
  width: 60px;
}

    